.header.sticky {
  position: sticky;
  top: 0;
  z-index: 99;

  .box-shadow {
    display: block;
    position: absolute;
  }
}

.header {
  background-color: #fff;
  height: 80px;

  border: 1px solid #ebebeb;

  .box-shadow {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  }
}

.container {
  max-width: 1440px;
  display: flex;
  padding: 1.6rem 8rem;
  gap: 8rem;
}

.logo {
  width: 204px;
  height: 33px;
}
