@use "@/shared/scss/breakpoint" as *;

$border-bottom: 1px solid #ebebeb;

.header.sticky {
  position: sticky;
  top: 0;
  z-index: 99;
}

.header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  container-type: inline-size;
  border-bottom: $border-bottom;

  &.open {
    border-bottom: none;
  }

  --header-height: 80px;
}

.container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;

  gap: 8rem;
  z-index: 1;
  height: var(--header-height);

  align-items: center;

  @container (width <= 1300px) {
    gap: 4.8rem;
  }

  @container (width <= 1024px) {
    gap: 2em;
  }

  @container (width <= 768px) {
    --header-height: 64px;
    .search {
      display: none;
    }
  }

  &.open {
    border-bottom: $border-bottom;
  }
}

.logo {
  width: 20.4rem;
  height: 3rem;
  flex-shrink: 0;

  @container (width <= 1024px) {
    // width: 16rem;

    img {
      object-fit: cover !important;
    }
  }
}

.HeaderButtons {
  display: flex;
  align-items: center;
  gap: 4rem;

  flex-shrink: 0;
  margin-left: auto;

  & > div {
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }

  .divider {
    width: 2px;
    background-color: #000;
    border-radius: 8px;
    height: 40px;
  }

  button {
    display: flex;
    align-items: center;
  }

  @container (width <= 1300px) {
    gap: 2.4rem;

    & > div {
      gap: 1.6rem;
    }
  }

  @container (width <= 1024px) {
    gap: 1.6rem;

    & > div {
      gap: 10px;
    }
  }

  @container (width <= 768px) {
    :global(.cta),
    & > div {
      display: none;
    }
  }
}

.hamburgerMenu {
  display: none;

  i {
    width: 32px;
    height: 32px;
  }

  @media screen and (width <= $breakpoint-tablet) {
    display: inline;
    margin-left: auto;
  }
}

.box-shadow {
  display: none;
  position: absolute;
  height: var(--header-height);
  width: 100%;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.HeaderMobileMenu {
  position: absolute;
  top: 64px;
  z-index: 10;
  background-color: #fff;

  width: 100%;
  display: flex;
  flex-direction: column;

  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

  transition: max-height 0.4s ease, padding 0.4s ease, opacity 0.4s ease;

  :global(.cta) {
    width: 100%;
    max-width: unset;
  }

  .search {
    max-width: unset;
    width: 100%;
  }
}

.HeaderMobileMenu:not(.open) {
  max-height: 0;
  overflow: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
}

.HeaderMobileMenu.open {
  max-height: 100vh;
  height: 100vh;
  padding: 1.6rem;
  pointer-events: auto;

  .nav {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 1.6rem 0;
    width: 100%;

    &:first-child {
      padding-top: 0;
    }

    &.borderBottom {
      border-bottom: 1px solid #d9d9d9;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.selection {
  display: flex;
  flex-direction: column;
  // padding: 8px;
  background: #f8fafd;
  margin-top: 0;

  li {
    padding: 4px;
    margin: 0 4px;
    border-bottom: 1px solid #fff;
    overflow: hidden;

    &:last-child {
      border-bottom: none;
    }
  }

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, margin 0.4s ease;

  &.open {
    max-height: 100px;
    margin-top: 8px;
  }
}
