.header.sticky {
  position: sticky;
  top: 0;
  z-index: 99;

  .box-shadow {
    display: block;
    position: absolute;
  }
}

.header {
  background-color: #fff;
  height: 80px;

  border: 1px solid #ebebeb;
  display: flex;
  justify-content: center;

  .box-shadow {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  }
}

.container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  padding: 1.6rem 8rem;
  gap: 8rem;
}

.logo {
  width: 204px;
  height: 33px;
}

.HeaderButtons {
  display: flex;
  align-items: center;
  gap: 4rem;

  margin-left: auto;

  & > div {
    display: flex;
    align-items: center;
    gap: 3.2rem;

    :global(.icon) {
      width: 24px;
      height: 24px;
    }
  }

  .divider {
    width: 2px;
    background-color: #000;
    border-radius: 8px;
    height: 40px;
  }
}
