.inputContainer {
  border: 1px solid #bfc8d0;
  border-radius: 8px;
  padding: 12px 16px;
  height: 48px;
  display: flex;
  align-items: center;

  max-width: 41rem;
  width: 100%;

  input {
    flex: 1;
  }

  :global(.icon) {
    width: 24px;
    height: 24px;
  }
}
