.inputContainer {
  border: 1px solid #bfc8d0;
  border-radius: 8px;
  padding: 1.2rem 1.6rem;
  height: 4.8rem;
  display: flex;
  align-items: center;

  max-width: 41rem;
  width: 100%;

  input {
    width: 100%;
  }
}
