@use "@/shared/scss/breakpoint" as *;

@use "sass:map";

.container {
  padding-top: 7rem;
  padding-bottom: 7rem;
  align-items: flex-start;

  @include adjustMobileYPadding();
}

.button {
  border: 1px solid #d9d9d9;
  border-radius: 100px;
  padding: 12px 16px;

  &.active,
  &:hover {
    border-color: #289dc8;
    background-color: #def6ff;
    color: #005371;
    cursor: pointer;
  }
}

.accordions {
  display: flex;
  overflow: hidden;
  gap: 2px;

  width: 100%;
}

$bg-colors: (
  1: #effbff,
  2: #fff2d5,
  3: #dafffd,
  4: #ffead9,
  5: #f4f3ff,
);

@each $sequence, $color in $bg-colors {
  .accordion {
    &:nth-child(#{$sequence}) {
      background-color: $color;
    }
  }
}

.mobile.iconsContainer {
  display: none;
}

.accordion {
  --collapsed-icon-wrapper-size: 5.2rem;
  --ative-icon-wrapper-size: 6.4rem;
  --icon-size: 3.2rem;
  --padding-y: 4rem;
  --active-padding-x: 3.4rem;
  --collasped-padding-x: 2.4rem;

  &:first-child {
    border-top-left-radius: var(--rounded);
    border-bottom-left-radius: var(--rounded);
  }

  &:last-child {
    border-top-right-radius: var(--rounded);
    border-bottom-right-radius: var(--rounded);
  }

  display: flex;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  min-width: min-content;
  padding: var(--padding-y) var(--collasped-padding-x);

  .icon-wrapper {
    width: var(--collapsed-icon-wrapper-size);
    height: var(--collapsed-icon-wrapper-size);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    flex-shrink: 0;
  }

  i:global(.icon) {
    width: --icon-size;
    height: --icon-size;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    height: 100%;
    min-width: var(--collapsed-icon-wrapper-size);
    width: 100%;
  }

  .box {
    background-color: #fff;
    padding: 4rem;
    display: flex;
    gap: 3.2rem;
    // width: 36.5rem;
    margin-top: auto;
    max-width: 40rem;
    max-height: 40rem;
    opacity: 1;
    transform: translateX(0);
    z-index: unset;
  }

  .box.hidden {
    overflow: hidden;
    position: absolute;
    opacity: 0;
    transform: translateX(-50%);
    z-index: -1;
  }

  &.active {
    padding: var(--padding-y) var(--active-padding-x);
    cursor: default;
    gap: 3.4rem;
    flex: 1;

    .icon-wrapper {
      width: var(--ative-icon-wrapper-size);
      height: var(--ative-icon-wrapper-size);
    }

    .image {
      width: 36rem;
      width: 100%;
      height: 100%;
    }
  }
}

.image {
  width: 0rem;
  height: auto;
  border-radius: var(--rounded-s);

  transition: width 0.2s ease;

  img {
    object-fit: cover;
    object-position: 84%;
  }
}

@media screen and (width <= 1300px) {
  .accordion {
    --collapsed-icon-wrapper-size: 4.2rem;
    --icon-size: 2.8rem;
    --ative-icon-wrapper-size: 5.2rem;
    --active-padding-x: 2.4rem;
    --padding-y: 2.8rem;
    --collasped-padding-x: 1.8rem;
  }

  .accordion .box {
    padding: 2.4rem;
    gap: 2.4rem;
  }

  .accordion.active {
    gap: 2.4rem;
  }
}

@media screen and (width <= 1024px) {
  .accordion {
    --collasped-padding-x: 1.4rem;
  }

  .accordion .box {
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 2.4rem;
  }
}

@media screen and (width <= 768px) {
  .accordions {
    flex-direction: column;
  }

  .accordion {
    --padding-y: 2rem;
    --active-padding-x: 1.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &:first-child {
      border-radius: 0;
      border-top-left-radius: var(--rounded-s);
      border-top-right-radius: var(--rounded-s);
    }

    &:last-child {
      border-radius: 0;
      border-bottom-left-radius: var(--rounded-s);
      border-bottom-right-radius: var(--rounded-s);
    }

    .box {
      margin-top: unset;
      max-height: unset;
      height: 100%;
      border-radius: var(--rounded-s);
    }

    .box.hidden {
      overflow: hidden;
      position: unset;
      min-height: 0;
      overflow: hidden;
      height: 0;
      transform: none;
      padding: 0;
    }

    .box {
      transform: none;
      transition: height 0.2s ease, min-height 0.2 ease;
    }
  }

  .iconsContainer {
    flex-direction: row;
    &:not(.mobile) {
      display: none;
    }

    &.mobile {
      display: flex;
      grid-column: span 2;
    }
  }

  .image {
    height: 0;
    border-radius: var(--rounded-s);
    transition: height 0.2s ease;

    img {
      object-fit: cover;
      object-position: 84%;
    }
  }

  .accordion.active {
    .image {
      height: max(36rem, 100%);
    }
  }

  .container ul {
    gap: 1.6rem;

    button {
      padding: 6px 8px;
    }
  }
}
