.container {
  padding-top: 7rem;
  padding-bottom: 7rem;
  gap: 4rem;
}

.reasonContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

:global(.box).reason {
  border: 1px solid #bfc8d0;
  padding: 2.4rem 3.2rem 3.2rem;
  gap: 1.6rem;

  :global(.icon) {
    width: var(--icon-size-xl);
    height: var(--icon-size-xl);
  }
}

.image {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}
