@use "@/shared/scss/breakpoint" as *;

.container {
  padding-top: 7rem;
  padding-bottom: 7rem;
  gap: 4rem;

  @include adjustMobileYPadding();
}

.reasonContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;

  @media screen and (width <= $breakpoint-tablet) {
    gap: 1.8rem;
  }

  @media screen and (width <= 700px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (width <= $breakpoint-mobile-l) {
    gap: 8px;
  }
}

.reason {
  border: 1px solid #bfc8d0;
  padding: 2.4rem 3.2rem 3.2rem;
  gap: 1.6rem;

  @media screen and (width <= $breakpoint-tablet) {
    padding: 1.8rem 2.4rem 2.4rem;
  }

  :global(.icon) {
    width: var(--icon-size-xl);
    height: var(--icon-size-xl);
  }
}

.image {
  grid-column: 2 / 3;
  grid-row: 1 / 4;

  @media screen and (width <= 700px) {
    display: none;
  }
}
