.background {
  background-image: url("/assets/images/herobg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  padding: 7rem 8rem;
  gap: 4rem;
}

.packge {
  display: flex;
}
