.background {
  background-image: url("/assets/images/herobg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  padding: 7rem 8rem;
  gap: 5.6rem;
  align-items: start;
}

.packages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  align-items: center;
}

.package {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.7rem;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  border-radius: 8px;
  padding: 1.6rem;

  border: 1px solid #d9d9d9;

  max-height: 8rem;

  &:hover {
    transform: translateY(-5px);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  &-stat {
    display: flex;
    flex-direction: column;
  }

  &.best {
    position: relative;
    border: 1px solid transparent;
    background-color: #fff;
    z-index: 0;
  }

  .best-value-tag {
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(110.57deg, #02d6cc 3.85%, #0042c4 100%);
    padding: 2px 5px;
    font-size: 1.5rem;
    border-radius: 5px;
    color: #fff;
    transform: translate(-10px, -50%);
    max-height: 21px;
    display: flex;
    align-items: center;
  }

  .best-value-bg {
    $color: linear-gradient(110.57deg, #02d6cc 3.85%, #0042c4 100%);
    position: absolute;
    width: calc(100% + 2px * 2);
    height: calc(100% + 2px * 2);
    top: -2px;
    left: -2px;
    background: $color;
    z-index: -1;
    border-radius: 10px;
  }

  .best-value-fore-bg {
    position: absolute;
    width: calc(100%);
    height: calc(100%);
    top: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
    z-index: -1;
  }
}

.services {
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: space-between;

  div {
    display: flex;
    gap: 1.6rem;
    align-items: center;
  }

  .icon-container {
    min-width: 48px;
    min-height: 48px;
    width: 48px;
    height: 48px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    :global(.icon) {
      width: 24px;
      height: 24px;
    }
  }

  button {
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 1.7rem;
    max-height: 7rem;
    display: flex;
    align-items: center;
    transition: box-shadow 0.2 ease;

    &:hover {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  & > ul {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    button {
      padding: 12px 16px;
      border-radius: 100px;

      background-color: #fff;
      border: 1px solid #d9d9d9;

      &:hover,
      &.active {
        background-color: #f3f3f3;
        border-color: #101828;
      }
    }
  }
}

.packageAlbum {
  width: 46rem;
  height: 56rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  .mainImage {
    border-radius: var(--rounded);
    width: 46rem;
    height: 46rem;
    img {
    }
  }

  .flagImage {
    position: absolute !important;
    top: 5%;
    left: 5%;
    border-radius: 50%;
    height: 6.4rem;
    width: 6.4rem;
    z-index: 1;
  }

  .selection {
    display: flex;
    align-items: center;
    gap: inherit;
    .image {
      &:hover {
        cursor: pointer;
      }

      width: 8rem;
      height: 8rem;
      border-radius: 12px;
      &.active {
        outline: 2px solid #000;
      }
    }
  }
}
