@use "@/shared/scss/breakpoint" as *;

.background {
  background-image: url("/assets/images/herobg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  padding-top: 7rem;
  padding-bottom: 7rem;

  gap: 5.6rem;
  align-items: start;

  @container (width <= 1300px) {
    gap: 4.8rem;
  }

  @container (width <= 1024px) {
    gap: 3.6rem;
  }

  @container (width <= 900px) {
    flex-direction: column;
    gap: 2.4rem;

    main {
      gap: 1.6rem;

      .tabs {
        gap: inherit;
      }
    }
  }

  @include adjustMobileYPadding();
}

.reviews {
  .ratings {
    width: 2.2rem;
    height: 2.2rem;
  }

  .pilot {
    width: 8.7rem;
    height: 2.2rem;
  }

  @container (width <= 500px) {
    flex-wrap: wrap;
    gap: 10px;
  }

  @container (width <= 300px) {
    gap: 6px;
  }
}

.packages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  align-items: center;

  @container (width <=700px ) {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  @media screen and (width <= $breakpoint-mobile-l) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.package {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.7rem;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  border-radius: 8px;
  padding: 1.6rem;

  border: 1px solid #d9d9d9;

  max-height: 8rem;

  &:hover {
    transform: translateY(-5px);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  &-stat {
    display: flex;
    flex-direction: column;
  }

  &.best {
    position: relative;
    border: 1px solid transparent;
    background-color: #fff;
    z-index: 0;
  }

  .best-value-tag {
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(110.57deg, #02d6cc 3.85%, #0042c4 100%);
    padding: 2px 5px;
    font-size: 1.5rem;
    border-radius: 5px;
    color: #fff;
    transform: translate(-10px, -50%);
    max-height: 21px;
    display: flex;
    align-items: center;
  }

  .best-value-bg {
    $color: linear-gradient(110.57deg, #02d6cc 3.85%, #0042c4 100%);
    position: absolute;
    width: calc(100% + 2px * 2);
    height: calc(100% + 2px * 2);
    top: -2px;
    left: -2px;
    background: $color;
    z-index: -1;
    border-radius: 10px;
  }

  .best-value-fore-bg {
    position: absolute;
    width: calc(100%);
    height: calc(100%);
    top: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
    z-index: -1;
  }
}

.services {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @container (width <= 700px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  @container (width <= 550px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  div {
    display: flex;
    gap: 1.6rem;
    align-items: center;
  }

  .icon-container {
    min-width: 4.8rem;
    min-height: 4.8rem;
    width: 4.8rem;
    height: 4.8rem;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    :global(.icon) {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  button {
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 1.7rem;
    max-height: 7rem;
    display: flex;
    align-items: center;
    transition: box-shadow 0.2 ease;
    justify-content: center;

    &:hover {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  & > ul {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    flex-wrap: wrap;

    button {
      padding: 1.2rem 1.6rem;
      border-radius: 100px;

      background-color: #fff;
      border: 1px solid #d9d9d9;

      &:hover,
      &.active {
        background-color: #f3f3f3;
        border-color: #101828;
      }
    }

    @container (width <= 400px) {
      gap: 8px;
      button {
        // padding: 8px 12px;
      }
    }
  }
}

.packageAlbum {
  max-width: 46rem;
  // width: 46rem;
  // height: 56rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  .mainImage {
    border-radius: var(--rounded);
    width: 46rem;
    height: 46rem;
  }

  .flagImage {
    position: absolute !important;
    top: 5%;
    left: 5%;
    border-radius: 50%;
    height: 6.4rem;
    width: 6.4rem;
    z-index: 1;
  }

  .selection {
    display: flex;
    align-items: center;
    gap: inherit;

    .image {
      &:hover {
        cursor: pointer;
      }

      width: 8rem;
      height: 8rem;
      border-radius: 12px;
      &.active {
        outline: 2px solid #000;
      }
    }
  }

  @container (width <= 1300px) {
    .mainImage {
      width: 42rem;
      height: 42rem;
    }

    .selection {
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      gap: 8px;

      .image {
        width: unset;
        height: unset;
        aspect-ratio: 1;
      }
    }
  }

  @container (width <= 900px) {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: repeat(5, 1fr);

    max-width: unset;
    width: 100%;

    & > div {
      grid-row: span 5;
    }

    .mainImage {
      width: 100%;
      height: 100%;
    }

    .selection {
      grid-row: span 5;
      grid-template-columns: 1fr;
      grid-template-rows: subgrid;
      width: 100%;
    }
  }
}
