:global(.SectionContainer) .container {
  padding: 5rem 8rem;
  gap: 6.8rem;
  flex-direction: row;
}

.background {
  background-image: url("/assets/images/alsolike.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.image {
  width: 60rem;
  height: 39rem;
}

.cta {
}
