:global(.SectionContainer) .container {
  padding: 5rem 8rem;
  gap: 6.8rem;
  flex-direction: row;
}

.background {
  background-image: url("/assets/images/alsolike.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.image {
  width: 60rem;
  height: 39rem;
}

.cta {
  background-color: var(--color-red);
  border-radius: 8px;
  color: #fff;
  width: 32rem;
  height: 4rem;
  padding: 2.2rem 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
