@use "@/shared/scss/breakpoint" as *;

.container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  gap: 6.8rem;
  flex-direction: row;

  @include adjustMobileYPadding();

  @media screen and (width <= $breakpoint-laptop) {
    gap: 3.2rem;
  }

  @media screen and (width <= $breakpoint-mobile-m) {
    flex-direction: column;
    gap: 1.6rem;
  }
}

.background {
  background-image: url("/assets/images/alsolike.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.package {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  @media screen and (width <= $breakpoint-mobile-m) {
    flex-direction: column;
    gap: 8px;
  }
}

.image {
  width: 60rem;
  height: 39rem;

  @media screen and (width <= $breakpoint-laptop) {
    width: 48rem;
    height: 32rem;
  }

  @media screen and (width <= $breakpoint-mobile-m) {
    width: 36rem;
    height: 24rem;
  }
}
