.container {
  padding-top: 7rem;
  padding-bottom: 14rem;
}

.instructions {
  display: flex;
  gap: 3.2rem;
  max-width: 100%;
}

:global(.box).instruction {
  max-width: 40rem;

  background-color: var(--bg-secondary);
  padding: 4.8rem;
  border-radius: var(--rounded);

  :global(.box-image) {
    width: 30rem;
    height: 31rem;
  }

  :global(.icon) {
    width: var(--icon-size-xl);
    height: var(--icon-size-xl);
  }
}
