@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

:root {
  --rounded: 30px;
  --bg-secondary: #f8fafd;
  --color-red: #b02235;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

.text-level-header {
  font-size: 3.2rem;
}

.text-level-subheader {
  font-size: 2.4rem;
}

.text-level-subheader-200 {
  font-size: 2.6rem;
}

.text-level-subheader-300 {
  font-size: 2.8rem;
}

.text-normal-100 {
  font-size: 1.6rem;
}

.text-normal-200 {
  font-size: 1.8rem;
}

.text-normal-300 {
  font-size: 2rem;
}

.text-font-light {
  font-weight: 300;
}

.text-font-normal {
  font-weight: 400;
}

.text-font-medium {
  font-weight: 500;
}

.text-font-bold {
  font-weight: 600;
}

.text-font-x-bold {
  font-weight: 700;
}

i.icon {
  display: inline-block;
  background-size: contain; /* Scales SVG to fit the element while preserving aspect ratio */
  background-repeat: no-repeat;
  background-position: center;
  /* aspect-ratio: 1; */
  /* width: 24px; */

  &::before {
    width: 100%;
    display: block;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  &.icon-bar-chart::before {
    content: url("/assets/icons/bar-chart.svg");
  }

  &.icon-data::before {
    content: url("/assets/icons/data.svg");
  }

  &.icon-download-02::before {
    content: url("/assets/icons/download-02.svg");
  }

  &.icon-download-04::before {
    content: url("/assets/icons/download-04.svg");
  }

  &.icon-file::before {
    content: url("/assets/icons/file.svg");
  }

  &.icon-hand-01::before {
    content: url("/assets/icons/hand-01.svg");
  }

  &.icon-layers-two-01::before {
    content: url("/assets/icons/layers-two-01.svg");
  }

  &.icon-logo::before {
    content: url("/assets/icons/logo.svg");
  }

  &.icon-marker-pin-04::before {
    content: url("/assets/icons/marker-pin-04.svg");
  }

  &.icon-shopping-bag-02::before {
    content: url("/assets/icons/shopping-bag-02.svg");
  }

  &.icon-signal::before {
    content: url("/assets/icons/signal.svg");
  }

  &.icon-support::before {
    content: url("/assets/icons/support.svg");
  }

  &.icon-tool-01::before {
    content: url("/assets/icons/tool-01.svg");
  }

  &.icon-tag-01::before {
    content: url("/assets/icons/tag-01.svg");
  }

  &.icon-zap-fast::before {
    content: url("/assets/icons/zap-fast.svg");
  }

  &.icon-check::before {
    content: url("/assets/icons/check.svg");
  }

  &.icon-x-close::before {
    content: url("/assets/icons/x-close.svg");
  }

  &.icon-plus::before {
    content: url("/assets/icons/plus.svg");
  }

  &.icon-minus::before {
    content: url("/assets/icons/minus.svg");
  }
}

.cta {
  border-radius: 8px;
  padding: 22px 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-red);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;

  max-width: 32rem;
  height: 4.4rem;
  width: 100%;
}
