@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

:root {
  --rounded: 30px;
  --rounded-s: 15px;
  --bg-secondary: #f8fafd;
  --color-red: #b02235;

  --icon-size-md: 2.4rem;
  --icon-size-lg: 3.6rem;
  --icon-size-xl: 4.8rem;

  --container-bk-xl: 1300px;
  --container-bk-desktop: 1024px;
  --container-bk-tablet: 768px;
}

html {
  font-size: 62.5%;

  @media screen and (width <= 1024px) {
    font-size: 56.25%;
  }

  @media screen and (width <= 768px) {
    font-size: 50%;
  }

  @media screen and (width <= 425px) {
    font-size: 40%;
  }
}

body {
  font-size: 1.6rem;
}

[data-container] {
  container-type: inline-size;
  width: 100%;
}

button {
  cursor: pointer;
}

.text-level-header {
  font-size: 3.2rem;
}

.text-level-header-200 {
  font-size: 3.6rem;
}

.text-level-subheader {
  font-size: 2.4rem;
}

.text-level-subheader-200 {
  font-size: 2.6rem;
}

.text-level-subheader-300 {
  font-size: 2.8rem;
}

.text-level-normal-100 {
  font-size: 1.6rem;
}

.text-level-normal-200 {
  font-size: 1.8rem;
}

.text-level-normal-300 {
  font-size: 2rem;
}

.text-font-light {
  font-weight: 300;
}

.text-font-normal {
  font-weight: 400;
}

.text-font-medium {
  font-weight: 500;
}

.text-font-bold {
  font-weight: 600;
}

.text-font-x-bold {
  font-weight: 700;
}

i.icon {
  display: inline-block;
  background-size: contain; /* Scales SVG to fit the element while preserving aspect ratio */
  background-repeat: no-repeat;
  background-position: center;
  /* aspect-ratio: 1; */
  /* width: 24px; */
  width: var(--icon-size-md);
  height: var(--icon-size-md);

  &::before {
    width: 100%;
    display: block;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .icon-md {
    width: var(--icon-size-md);
    height: var(--icon-size-md);
  }

  .icon-lg {
    width: var(--icon-size-lg);
    height: var(--icon-size-lg);
  }

  .icon-xl {
    width: var(--icon-size-xl);
    height: var(--icon-size-xl);
  }

  &.icon-bar-chart {
    background-image: url("/assets/icons/bar-chart.svg");
  }

  &.icon-data {
    background-image: url("/assets/icons/data.svg");
  }

  &.icon-download-02 {
    background-image: url("/assets/icons/download-02.svg");
  }

  &.icon-download-04 {
    background-image: url("/assets/icons/download-04.svg");
  }

  &.icon-file {
    background-image: url("/assets/icons/file.svg");
  }

  &.icon-hand-01 {
    background-image: url("/assets/icons/hand-01.svg");
  }

  &.icon-layers-two-01 {
    background-image: url("/assets/icons/layers-two-01.svg");
  }

  &.icon-logo {
    background-image: url("/assets/icons/logo.svg");
  }

  &.icon-marker-pin-04 {
    background-image: url("/assets/icons/marker-pin-04.svg");
  }

  &.icon-shopping-bag-02 {
    background-image: url("/assets/icons/shopping-bag-02.svg");
  }

  &.icon-signal {
    background-image: url("/assets/icons/signal.svg");
  }

  &.icon-support {
    background-image: url("/assets/icons/support.svg");
  }

  &.icon-tool-01 {
    background-image: url("/assets/icons/tool-01.svg");
  }

  &.icon-tag-01 {
    background-image: url("/assets/icons/tag-01.svg");
  }

  &.icon-zap-fast {
    background-image: url("/assets/icons/zap-fast.svg");
  }

  &.icon-check {
    background-image: url("/assets/icons/check.svg");
  }

  &.icon-x-close {
    background-image: url("/assets/icons/x-close.svg");
  }

  &.icon-plus {
    background-image: url("/assets/icons/plus.svg");
  }

  &.icon-minus {
    background-image: url("/assets/icons/minus.svg");
  }

  &.icon-plus {
    background-image: url("/assets/icons/plus.svg");
  }

  &.icon-credit-card-02 {
    background-image: url("/assets/icons/credit-card-02.svg");
  }

  &.icon-calendar {
    background-image: url("/assets/icons/calendar.svg");
  }

  &.icon-headphones-02 {
    background-image: url("/assets/icons/headphones-02.svg");
  }

  &.icon-shield-tick {
    background-image: url("/assets/icons/shield-tick.svg");
  }

  &.icon-switch-vertical-01 {
    background-image: url("/assets/icons/switch-vertical-01.svg");
  }

  &.icon-search-md {
    background-image: url("/assets/icons/search-md.svg");
  }

  &.icon-translate-01 {
    background-image: url("/assets/icons/translate-01.svg");
  }

  &.icon-currency-dollar-circle {
    background-image: url("/assets/icons/currency-dollar-circle.svg");
  }

  &.icon-hamburger-menu {
    background-image: url("/assets/icons/hamburger-menu.svg");
  }
}

.cta {
  border-radius: 8px;
  padding: 2.2rem 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-red);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;

  max-width: 32rem;
  height: 4.4rem;
  width: 100%;
}

.container-px-100 {
  --padding: 8rem;

  padding-left: var(--padding);
  padding-right: var(--padding);

  @container (width <= 1300px) {
    --padding: 4.8rem;
  }

  @container (width <= 1024px) {
    --padding: 3.2rem;
  }

  @container (width <= 768px) {
    --padding: 2.8rem;
  }

  @container (width <= 425px) {
    --padding: 2rem;
  }
}

.container-px-200 {
  --padding: 10.4rem;
  padding-left: var(--padding);
  padding-right: var(--padding);

  @container (width <= 1300px) {
    --padding: 6.4rem;
  }

  @container (width <= 1024px) {
    --padding: 4.8rem;
  }

  @container (width <= 768px) {
    --padding: 3.6rem;
  }

  @container (width <= 425px) {
    --padding: 2.4rem;
  }
}

.container-px-300 {
  --padding: 23.3rem;
  padding-left: var(--padding);
  padding-right: var(--padding);

  @container (width <= 1300px) {
    --padding: 12rem;
  }

  @container (width <= 1024px) {
    --padding: 8rem;
  }

  @container (width <= 768px) {
    --padding: 6.4rem;
  }

  @container (width <= 425px) {
    --padding: 4.8rem;
  }
}
