.SectionContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    width: 100%;
    max-width: 1440px;
    display: flex;
    // flex-direction: column;
    gap: 24px;
  }
}
