.SectionContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  container-type: inline-size;
}
