@use "@/shared/scss/breakpoint" as *;

.featureContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;

  @media screen and (width <= $breakpoint-tablet) {
    gap: 2.4rem;
  }

  @media screen and (width <= 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (width <= $breakpoint-mobile-l) {
    gap: 1.6rem;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  background-color: var(--bg-secondary);
  padding: 4.8rem;

  @media screen and (width <= $breakpoint-tablet) {
    padding: 3.6rem;
  }

  @media screen and (width <= 640px) {
  }

  :global(.box-icon) {
    width: 4.8rem;
    height: 4.8rem;
  }
}

.container {
  padding-top: 7rem;
  padding-bottom: 14rem;

  @include adjustMobileYPadding();
}
