.featureContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  background-color: var(--bg-secondary);
  padding: 4.8rem;

  :global(.box-icon) {
    width: 4.8rem;
    height: 4.8rem;
  }
}

.container {
  padding: 7rem 8rem 14rem;
}
