@use "@/shared/scss/breakpoint" as *;

.container {
  padding-top: 12rem;
  padding-bottom: 12rem;

  @include adjustMobileYPadding(6rem);
}

.background {
  background-image: url("/assets/images/bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.cta {
}
