@use "@/shared/scss/breakpoint" as *;

.container {
  padding-top: 7rem;
  padding-bottom: 7rem;

  @include adjustMobileYPadding();

  @media screen and (width <= $breakpoint-laptop) {
    & > div {
      gap: 1.8rem;
    }
  }

  @media screen and (width <= 900px) {
    & > div {
      flex-direction: column;
    }
  }
}

.image {
  width: 100%;
  min-height: 31rem;
  min-width: 24rem;
  border-radius: 16px;
}

.resource {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  gap: 2.4rem;
  padding: 2.4rem;

  max-width: 39rem;
  height: 56rem;

  background-color: var(--bg-secondary);

  &-inner {
    display: inherit;
    flex-direction: column;
    gap: inherit;
  }

  @media screen and (width <= $breakpoint-laptop) {
    gap: 1.8rem;
  }

  @media screen and (width <= 900px) {
    max-width: unset;
    flex-direction: row;
    height: min-content;
    gap: 1.2rem;

    &-inner {
      flex-direction: column;

      a {
        margin-top: auto;
      }
    }
  }

  @media screen and (width <= $breakpoint-mobile-s) {
    .image {
      min-height: 15rem;
      min-width: 16rem;
    }
  }
}
