@mixin wave($name, $px) {
  animation: $name 1.3s linear infinite;

  @keyframes #{$name} {
    0%,
    60%,
    100% {
      transform: initial;
    }

    30% {
      transform: translateY($px);
    }
  }
}

.LoadingDots-wave {
  text-align: center;
}

.LoadingDots-dot {
  aspect-ratio: 1;
  display: inline-block;
  border-radius: 50%;
  margin-right: 3px;
  background: #303131;

  &:nth-child(2) {
    animation-delay: -1.1s;
  }

  &:nth-child(3) {
    animation-delay: -0.9s;
  }

  &-xs {
    width: 6px;
    height: 6px;
    @include wave(sm-wave, -9px);
  }

  &-small {
    width: 8px;
    height: 8px;
    @include wave(sm-wave, -11px);
  }

  &-medium {
    width: 12px;
    height: 12px;
    @include wave(md-wave, -15px);
  }

  &-large {
    width: 16px;
    height: 16px;
    @include wave(lg-wave, -19px);
  }
}
