@use "@/shared/scss/breakpoint" as *;

.container {
  padding-top: 14rem;
  padding-bottom: 7rem;
  gap: 4rem;

  @include adjustMobileYPadding(5rem);
}

.table {
  width: 100%;

  th > div {
    display: flex;
    justify-content: center;
    padding: 1.6rem;
    padding-bottom: 2rem;

    @media screen and (width <= 720px) {
      padding: 8px;
    }
  }

  tr {
    border-bottom: 1px solid #d9d9d9;
  }

  tbody td {
    &:first-child {
      padding-left: 0;

      @media screen and (width <= 720px) {
        & > div {
          width: max-content;
        }
      }
    }

    &:not(:first-child) {
      & > div {
        display: flex;
        justify-content: center;
      }
    }

    padding: 1.6rem;

    @media screen and (width <= 720px) {
      padding: 8px;
    }
  }
}

.highlight {
  background-color: #fbefef;

  &.darker {
    background-color: #fbe6e6;
  }

  &.head {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  &.tail {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}

.logo {
  height: 2rem;
  width: 13rem;

  @media screen and (width <= 720px) {
    width: 9rem;
    height: 12px;
  }
}

table .no-border {
  border: none;
}
