.container {
  padding-top: 14rem;
  padding-bottom: 7rem;
  gap: 4rem;
}

.table {
  width: 100%;

  th > div {
    display: flex;
    justify-content: center;
    padding: 1.6rem;
    padding-bottom: 2rem;
  }

  tr {
    border-bottom: 1px solid #d9d9d9;
  }

  tbody td {
    &:first-child {
      padding-left: 0;
    }

    &:not(:first-child) {
      & > div {
        display: flex;
        justify-content: center;
      }
    }

    padding: 1.6rem;
  }
}

.highlight {
  background-color: #fbefef;

  &.darker {
    background-color: #fbe6e6;
  }

  &.head {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  &.tail {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}

.logo {
  height: 22px;
  width: 13rem;
}

table .no-border {
  border: none;
}
