.testimonialsContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 28.4rem));
  gap: 3.2rem;
}

.container {
  padding: 7rem 10.4rem;
}

.image {
  aspect-ratio: 1;
  width: 5.6rem;
}

.testimonial {
  border-radius: var(--rounded);
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 3.2rem;
  background-color: var(--bg-secondary);
  min-height: 30rem;

  &:nth-child(2) {
    grid-row: span 2;
  }
}
