@use "@/shared/scss/breakpoint" as *;

.testimonialsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;

  @media screen and (width <= $breakpoint-laptop) {
    gap: 1.6rem;
  }

  @media screen and (width <= $breakpoint-tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (width <= 600px) {
    grid-template-columns: repeat(2, minmax(auto, 28.4rem));
  }
}

.container {
  padding-top: 7rem;
  padding-bottom: 7rem;

  @include adjustMobileYPadding();
}

.image {
  aspect-ratio: 1;
  width: 5.6rem;
  height: 5.6rem;
}

.testimonial {
  border-radius: var(--rounded);
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 3.2rem;
  background-color: var(--bg-secondary);
  min-height: 30rem;

  max-width: 28.4rem;

  @media screen and (width <= $breakpoint-laptop) {
    gap: 2.4rem;
    padding: 2.4rem;
  }

  @media screen and (width <= $breakpoint-tablet) {
    gap: 1.6rem;

    &:nth-child(3) {
      grid-row: span 2;
      p {
        font-size: 2.8rem;
      }
    }
  }

  @media screen and (width <= 600px) {
    &:nth-child(6) {
      grid-row: span 2;
      p {
        font-size: 2.8rem;
      }
    }
  }

  &:nth-child(2) {
    grid-row: span 2;
    p {
      font-size: 2.8rem;
    }
  }
}
